.container {
  flex: 0.2;
  padding: 10px;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: -45px;
}

.profile__pic {
  height: 280px;
  width: auto;
  border-radius: 50%;
}

.container > h1 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 5px;
}

.container > h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #586069;
}

.bio {
  width: 80%;
  margin: 15px 0;
}

button {
  width: 80%;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  border-width: 1px;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: #d9d9d9;
}

.additional__information {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  color: #24292e;
}
